body {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 70px;
}

.home_page-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 20px;
}

.home_page-cards > div {
  flex: 1 1 400px;       
  max-width: 500px;      
  background: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home_page-cards p {
  font-size: 20px;
  margin: 10px;
  color: #333;
}

.home_page-cards img {
  max-width: 300px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.description2_card img {
  margin-top: 35px;
}

.description3_card img {
  margin-top: 35px;
}

.description2_card p {
  margin-top: 20px;
}

.description3_card p {
  margin-top: 20px;
}

.nav_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    background: #3447F6;
    padding: 10px 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    z-index: 1000;
    width: 100%;
    height: 60px;
}
.nav_links a {
    position: relative;       
    color: #fff;
    text-decoration: none;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 18px;
    margin-right: 25px;
    transition: color 0.3s ease;
}
.nav_links a::after {
    content: "";
    position: absolute;
    bottom: -5px;     
    left: 0;
    width: 0%;
    height: 2px;
    background: #fff;
    transition: width 0.3s ease;
}
.nav_links a:hover::after,
.nav_links a:focus::after {
    width: 100%;       
}
.nav_links img {
  display: block;
  height: 40px;
}

.nav_main {
  display: flex;
  align-items: center;
}

.nav_main a {
  display: flex;
  align-items: center;
}
.nav_profile {
    display: flex;
    gap: 15px;
    padding-right: 20px;
}
.nav_right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav_toggle {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 992px) {
  .nav_toggle {
    display: block;
  }

  .nav_menu {
    position: fixed;
    top: 0;
    right: -300px;
    background: #3447F6;
    width: 250px;
    height: 100%;
    padding: 20px;
    transition: right 0.3 ease;
  }

  .nav_menu.active{
    right: 0;
  }

  .nav_main {
    flex-direction: column;
    gap: 15px;
  }
}

footer {
  margin-top: 150px;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 15px;
  background: #f3f4f6;
  color: #555;
  font-size: 14px;
  border-top: 1px solid #ddd;
}